<div class="inner cover">
  <h1 class="cover-heading">Those who surrender freedom for security will not have, nor do they deserve, either one.</h1>
  <p class="lead">My name is Nick Davis. I am a software engineer and conputer security enthusiast.</p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Learn more</a>
  </p>
</div>
